<table class="virtualListLayout">
        <tbody>
		<tr class="listLayoutHeaderRow"> 
			<td colspan="99">
				<div dojoAttachPoint="pagedDataListController"></div>
			</td>	
		</tr>
                <tr class="listLayoutHeaderRow" dojoAttachPoint="listLayoutHeaderRow">
                        <td class="virtualListHeaderContainer" dojoAttachPoint="virtualListHeaderContainer"></td><td class="virtualListWaste"></td>
                </tr>
                <tr>
                        <td dojoAttachPoint="virtualListContainer" class="virtualListContainer">
                                <table dojoAttachPoint="offsetContainer" class="virtualTable">
                                        <tbody dojoAttachPoint="containerNode">
                                        </tbody>
                                </table>
                        </td>
                </tr>
        </tbody>
</table>

